<!-- 
The MIT License (MIT)
Copyright (c) 2016 GRVC University of Seville

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
-->
<launch>

    <arg name="multi" default="false"/>

    <rosparam param="/use_sim_time">true</rosparam>

    <!-- Launch Gazebo simulation TODO: world location? -->
    <node pkg="px4_bringup" type="launch_gzworld.py" name="gazebo_world" output="screen"
        args="-physics=ode -world=$(find px4_bringup)/config/empty_light.world">
        <rosparam param="sim_origin">[37.558542, -5.931074, 7.89]</rosparam><!-- [lat,lon,alt] -->
    </node>

    <!-- Launch robot id=1 -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch" unless="$(arg multi)">
        <arg name="id" value="1"/>
        <arg name="material" value="Orange"/>
        <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="0"/>
        <arg name="yaw" default="0"/>
    </include>

    <group if="$(arg multi)">
        <!-- Launch robot id=1 -->
        <include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="uav_1">
            <arg name="id" value="1"/>
            <arg name="material" value="Orange"/>
            <arg name="x" default="0"/>
            <arg name="y" default="0"/>
            <arg name="z" default="0"/>
            <arg name="yaw" default="0"/>
        </include>
        <!-- Launch robot id=2 -->
        <include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="uav_2">
            <arg name="id" value="2"/>
            <arg name="material" value="Indigo"/>
            <arg name="x" default="-10"/>
            <arg name="y" default="10"/>
            <arg name="z" default="0"/>
            <arg name="yaw" default="0"/>
        </include>
        <!-- Launch robot id=3 -->
        <include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="uav_3">
            <arg name="id" value="3"/>
            <arg name="material" value="ZincYellow"/>
            <arg name="x" default="10"/>
            <arg name="y" default="10"/>
            <arg name="z" default="0"/>
            <arg name="yaw" default="0"/>
        </include>
    </group>

</launch>
