# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Models
robots_description/models/*
!robots_description/models/aeroarms/
!robots_description/models/aeroarms_pendulum/
!robots_description/models/iris/
!robots_description/models/mbzirc/
!robots_description/models/typhoon_h480/
