<launch>

	<arg name="model_name" default="aeroarms"/>
	<arg name="description_package" default="robots_description"/>

	<!-- robot_description for rviz -->
	<param name="robot_description"
	       command="$(eval 'xacro --inorder ' + find(description_package) + '/models/' + model_name + '/model.xacro')"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="true"/>
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robots_description)/config/visualize.rviz" />

</launch>
